/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	appearance: none;
	border: none;
	outline: none;
	min-width: 12.4rem;
	background-color: #3477F5;
	min-width: 4.8rem;
	line-height: 4.8rem;
	font-size: 1.4rem;
	letter-spacing: -.02em;
	font-weight: 700;
	color: $c-white;
	border-radius: 0;
	max-width: 100%;
	padding: 0 2.7rem;

	@include breakpoint-down(mobile) {
		min-width: 100%;
	}

	&:hover {
		background-color: #031A61;
		color: $c-white;
	}
}

/*  Btn secondary  */

.btn--secondary {
	background-color: #F7F9FC;
	color: #07081B;

	svg {
		fill: #07081B;
		transition: fill $t-duration;
	}

	&:hover {
		svg {
			fill: $c-white;
		}
	}
}

/*  Btn dark  */

.btn--dark {
	background-color: #031A61;
	color: $c-white;

	svg {
		fill: $c-white;
	}
}


/*  Btn block  */

.btn--block {
	display: block;
	padding-left: 0;
	padding-right: 0;
}
