/* ------------------------------------------------------------ *\
	Burger btn
\* ------------------------------------------------------------ */

.burger-btn {
	position: relative;
	z-index: 2;
	width: 1.5rem;
	height: 1.5rem;
	display: none;

	@include breakpoint-down(mobile) {
		display: block;
	}

	span {
		display: block;
		width: 1.5rem;
		background-color: #0E0B3D;
		height: .2rem;
		transition: transform $t-duration;
	}

	span:nth-child(2) {
		width: 1rem;
		margin-left: auto; 
	}

	span + span {
		margin-top: 4px; 
	}

	&.is-active span:first-child {
		position: absolute;
		top: .4rem;
		transform: rotate(45deg);
	}

	&.is-active span:nth-child(2) {
		opacity: 0; 
	}

	&.is-active span:last-child {
		position: absolute;
		top: 0;
		transform: rotate(135deg);
	}
}