/* ------------------------------------------------------------ *\
	Cards
\* ------------------------------------------------------------ */

.cards {
	.row {
		margin: -1.2rem;

		@include breakpoint-down(mobile) {
			margin: 0;
		}
	}

	.col {
		padding: 1.2rem;

		@include breakpoint-down(mobile) {
			padding: 0;
		}
	}

	.col + .col {
		@include breakpoint-down(mobile) {
			margin-top: 3.2rem; 
		}
	}
}