/* ------------------------------------------------------------ *\
	Cards small
\* ------------------------------------------------------------ */

.cards-small {
	padding: 0 7rem;

	@include breakpoint-down(tablet) {
		padding: 0;
	}

	.row {
		margin: -1rem;

		@include breakpoint-down(mobile) {
			margin: -1.2rem;
		}

		.col {
			padding: 1rem;

			@include breakpoint-down(mobile) {
				padding: 1.2rem;
			}
		}
	}
}

.card-small {
	padding: 2.4rem 3.2rem;
	height: 100%;

	@include breakpoint-down(mobile) {
		padding: 2.4rem 2.3rem;
	}

	.card__head {
		display: flex;
		margin-bottom: 1.7rem;

		.card__image {
			max-width: 4.8rem;
			flex: 0 0 4.8rem;
			align-items: center;

			img {
				width: 100%;
				height: auto;
			}
		}

		.card__entry {
			font-size: 1.4rem;
			letter-spacing: -.02em;
			font-weight: 400;
			padding-left: 10px;
			max-width: calc(100% - 4.8rem);
			flex: 0 0 calc(100% - 4.8rem); 

			@include breakpoint-down(mobile) {
				font-size: 1.2rem;
			}

			h6 {
				font-size: 1.6rem;
				margin-bottom: 1rem;
				font-weight: 400;

				@include breakpoint-down(mobile) {
					font-size: 1.4rem;
				}
			}
		}
	}

	.card__content {
		font-size: 1.8rem;
		line-height: 1.33;
		letter-spacing: -.02em;

		@include breakpoint-down(mobile) {
			font-size: 1.6rem;
			line-height: 1.5;
		}
	}

	&.is-active {
		background-color: #13296C;
	}
}