/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer {
	padding: 7.8rem 0 6.5rem;

	@include breakpoint-down(mobile) {
		padding: 3.6rem 0 6.4rem;
	}

	.container {
		max-width: 108rem;
	}

	.footer__logo {
		display: inline-block; 
		max-width: 14.4rem;
		margin-bottom: 2rem;
	}

	p {
		color: #07081B;
		font-size: 1.4rem;
		line-height: 1.7;
		letter-spacing: -.02em;
		max-width: 32.6rem;
	}

	p + .footer__socials {
		margin-top: 3.2rem; 
	}

	.footer__socials {
		padding-left: 1.2rem;

		ul {
			padding-left: 0;
			list-style: none;
			display: flex;
			align-items: center;

			li + li {
				margin-left: 3.7rem; 
			}  

			img {
				transition: opacity $t-duration;
			}

			a:hover {
				img {
					opacity: .7; 
				}
			}
		}
	}

	.footer__navs {
		padding: .5rem 0 0 1.6rem;
		margin-right: -9rem; 

		@include breakpoint-down(small-desktop) {
			margin-right: 0; 
		}

		@include breakpoint-down(mobile) {
			padding: 4.4rem 0 0;

		}

		.row {
			@include breakpoint-down(mobile) {
				margin: -1.6rem -.6rem;
			}

			.col {
				@include breakpoint-down(mobile) {
					padding: 1.6rem .6rem;
				}
			}
		}
	}

	.footer__nav {
		ul {
			padding-left: 0;
			list-style: none;

			li + li {
				margin-top: .8rem; 
			}

			a {
				text-decoration: none;
				font-size: 1.4rem;
				letter-spacing: -.02em;
				color: #373D54;
				line-height: 1.71;

				&:hover {
					text-decoration: underline;
				}
			}  
		}
	}
}
