/* ------------------------------------------------------------ *\
	Galleries
\* ------------------------------------------------------------ */

.galleries {
	.row {
		margin: -2rem;

		@include breakpoint-down(mobile) {
			margin: -1.2rem;
		}

		.col {
			padding: 2rem;

			@include breakpoint-down(mobile) {
				padding: 1.2rem;
			}
		}
	}
}

.gallery {
	padding: 3.2rem 4rem;
	background-color: #F7F9FC;

	@include breakpoint-down(mobile) {
		margin: 0 -2.4rem;
		width: 100vw;
		padding: 2.4rem;
	}

	.gallery__image {
		img {
			width: 100%;
			height: auto;
		}
	}
}