/* ------------------------------------------------------------ *\
	List Features
\* ------------------------------------------------------------ */

.list-features {
	list-style: none; 

	li {
		position: relative; 
		background: #F7F9FC;
		padding: 20px 20px 20px 91px; 

		/*  Mobile  */
		
		@include breakpoint-down(mobile) {
			padding: 23px 21px 20px 85px; 
		}

		> span {
			position: absolute; 
			top: 20px; 
			left: 24px; 
			width: 48px; 
			height: 48px; 
			background: #fff;
			box-shadow: 0px 32.1818px 45.5909px -13.4091px rgba(126, 134, 151, 0.12);

			/*  Mobile  */
			
			@include breakpoint-down(mobile) {
				width: 40px; 
				height: 40px; 
			}

			img {
				position: absolute; 
				top: 50%; 
				left: 50%; 
				transform: translate(-50%, -50%);  
			}
		}

		h6 {
			margin: 0; 
			font-size: 20px; 
			font-weight: 500; 
			letter-spacing: -0.02em;

			/*  Mobile  */
			
			@include breakpoint-down(mobile) {
				font-size: 18px; 
			}

			+ p {
				margin: 2px 0 0; 
			}
		}

		p {
			color: #565B75; 
			font-size: 18px; 
			letter-spacing: -0.02em;

			/*  Mobile  */
			
			@include breakpoint-down(mobile) {
				font-size: 14px; 
				line-height: 1.71; 
			}
		}

		+ li {
			margin-top: 16px; 
		}
	}

	&--alt {
		padding: 3px 0 0; 
		margin: 0; 

		li {
			background: none; 
			padding: 0 0 0 60px; 
			display: inline-block; 

			/*  Tablet  */
			
			@include breakpoint-down(tablet) {
				display: block; 
			}

			+ li {
				margin-left: 29px; 

				/*  Tablet  */
				
				@include breakpoint-down(tablet) {
					margin: 10px 0 0; 
				}
			}

			h6 {
				font-size: 16px; 
				color: #fff; 
				text-transform: uppercase; 

				+ p {
					margin: 0px 0 0; 
				}
			}

			p {
				font-size: 16px; 
			}

			> span {
				top: 0; 
				left: 0; 
				width: 48px; 
				height: 48px; 
				background: #13296C;
			}
		}
	}


}