/* ------------------------------------------------------------ *\
	List achievments
\* ------------------------------------------------------------ */

.list-achievments {
	padding-left: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	@include breakpoint-down(mobile) {
		margin: -2rem -3rem;
		text-align: center;
	}

	li {
		@include breakpoint-down(mobile) {
			max-width: 33.33%;
			flex: 0 0 33.33%;
			padding: 2rem 3rem;
		}
	}
}