/* ------------------------------------------------------------ *\
	List devices
\* ------------------------------------------------------------ */

.list-devices {
	padding-left: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;  
	padding: 0 3.5rem;

	@include breakpoint-down(small-desktop) {
		padding: 0;
		margin: -.8rem;
	}

	@include breakpoint-down(mobile) {
		display: block;
	}

	li {
		@include breakpoint-down(small-desktop) {
			padding: .8rem;
		}

		img {
			@include breakpoint-down(mobile) {
				width: 100%;
				height: auto;
			}
		}
	}
}