/* ------------------------------------------------------------ *\
	List stars
\* ------------------------------------------------------------ */

.list-stars {
	padding: 0;
	list-style: none;
	display: flex;

	li + li {
		margin-left: 1.1rem; 
	} 

	img {
		@include breakpoint-down(mobile) {
			max-width: 1.3rem;
		}
	}
}