/* ------------------------------------------------------------ *\
	List steps
\* ------------------------------------------------------------ */

.list-steps {
	padding-left: 0;
	list-style: none;

	li {
		padding: 2rem 2.3rem;
		line-height: 1.33;

		&.is-active {
			background-color: #F7F9FC;
		}
	}

	li + li {
		margin-top: 1.4rem; 

		@include breakpoint-down(mobile) {
			margin-top: 2.4rem; 
		}
	}

	span {
		display: inline-block;
		text-align: center;
		min-width: 9.7rem;
		background-color: #13296C;
		min-height: 4rem;
		line-height: 4rem;
		color: $c-white;
		letter-spacing: .04em;
		font-size: 1.4rem;
		text-transform: uppercase;
		font-weight: 700;
		margin-bottom: 3rem;
	}  

	h6 {
		font-size: 2rem;
		line-height: 1.2;
		letter-spacing: -.02em;
		font-weight: 500;
		color: #07081B;

		@include breakpoint-down(mobile) {
			margin-bottom: 1.6rem;
		}
	}

	p {
		margin-bottom: 0;

		@include breakpoint-down(mobile) {
			font-size: 1.8rem;
			line-height: 1.33;
		}
	}

}