/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo {
	max-width: 16.2rem;
	
	@include breakpoint-down(mobile) {
		display: inline-block;
		max-width: 13.5rem;
	}
}
