/* ------------------------------------------------------------ *\
	Section accordion
\* ------------------------------------------------------------ */

.section-accordion {
	padding: 14rem 0 9.6rem;

	@include breakpoint-down(tablet) {
		padding: 7rem 0 5rem;
	}

	@include breakpoint-down(mobile) {
		padding: 7rem 0 2.5rem;
	}

	.container {
		@include breakpoint-down(mobile) {
			padding: 0 3rem;
		}
	}

	.box-accordion + .box-accordion {
		margin-top: 10rem; 

		@include breakpoint-down(mobile) {
			margin-top: 3rem; 
		}
	}

	.section__head {
		text-align: center;
		margin-bottom: 4.3rem;

		@include breakpoint-down(mobile) {
			margin-bottom: 36px;
		}

		h3 {
			color: #373D54;
			letter-spacing: .002em;

			@include breakpoint-down(mobile) {
				font-size: 4rem;
			}
		}

		.btn {
			@include breakpoint-down(mobile) {
				min-width: 8rem;
				min-height: 4rem;
				line-height: 4rem;
			}
		}

		.btn + h3 {
			margin-top: .8rem; 
		}
	}
}