/* ------------------------------------------------------------ *\
	Section cards
\* ------------------------------------------------------------ */

.section-cards {
	padding: 2rem 0;

	.section__head {
		text-align: center;
		max-width: 56rem;
		margin: 0 auto 4rem;
		font-weight: 500;
		font-size: 1.8rem;
		line-height: 1.77;
		letter-spacing: -.02em;
		color: #565B75;

		@include breakpoint-down(mobile) {
			font-size: 1.6rem;
			line-height: 1.75;
			margin-bottom: 3.5rem;
		}

		h3 {
			color: #07081B;
			font-weight: 700;
			letter-spacing: -.002em;
			margin-bottom: 1.8rem;

			@include breakpoint-down(mobile) {
				font-size: 3.2rem;
				line-height: 1.25;
				margin-bottom: 1rem;
			}
		}
	}

	.section__inner {
		background-color: #F7F9FC;
		padding: 4.8rem 0;

		@include breakpoint-down(mobile) {
			background-color: transparent;
			padding: 0;
		}
	}

	.cards {
		background-color: #F7F9FC;
		padding: 6.8rem 7.3rem 5.8rem;

		@include breakpoint-down(tablet) {
			padding: 4rem 0rem;
		}

		@include breakpoint-down(mobile) {
			padding: 0;
			background-color: transparent;
		}
	}

	.cards--alt {
		padding: 0 7.6rem;

		@include breakpoint-down(small-desktop) {
			padding: 0 2.4rem;
		}

		@include breakpoint-down(tablet) {
			padding: 0;
		}
	}
}

.section-cards--secondary {
	padding: 9.5rem 0 5rem;

	@include breakpoint-down(mobile) {
		padding: 6.4rem 0 20px;
	}

	.cards {
		padding: 0 7.3rem;

		@include breakpoint-down(tablet) {
			padding: 0rem;
		}
	}

}

.section-cards--alt {
	padding: 4.7rem 0 5rem;

	@include breakpoint-down(mobile) {
		padding: 4.2rem 0 5rem;
	}

	.btn {
		margin-bottom: 2rem;
	}

	.cards {
		background-color: transparent;
		padding: 0 7.3rem;

		@include breakpoint-down(tablet) {
			padding: 0rem;
		}
	}
}

.section-cards--main {
	padding: 4.3rem 0 5rem;

	@include breakpoint-down(mobile) {
		padding: 2.8rem 0 20px;
	}

	.section__head {
		max-width: 64rem;

		@include breakpoint-down(mobile) {
			margin-bottom: 2.5rem;
		}
	}

	.cards {
		padding: 0;
		background-color: transparent;
	}
}

.section-cards--spacing-1 {
	.section__head {
		max-width: 67rem;

		p {
			max-width: 60rem;
			margin: 0 auto;
		}
	}
}