/* ------------------------------------------------------------ *\
	Section tables
\* ------------------------------------------------------------ */

.section-tables {
	padding: 4.7rem 0 9.5rem;

	@include breakpoint-down(mobile) {
		padding: 3.1rem 0 6.4rem;
	}

	.section__head {
		max-width: 56rem;
		margin: 0 auto 4.1rem;
		text-align: center;
		font-size: 1.8rem;
		font-weight: 500;
		color: #565B75;
		letter-spacing: -.02em;
		line-height: 1.77;

		@include breakpoint-down(mobile) {
			font-size: 1.6rem;
			line-height: 1.75;
			margin-bottom: 2.8rem;
		}

		h3 {
			color: #07081B;
			font-weight: 700;
			letter-spacing: -.002em;
			line-height: 1.2;
			margin-bottom: 2rem;

			@include breakpoint-down(mobile) {
				font-size: 3.2rem;
				line-height: 1.25;
				margin-bottom: .7rem;
			}
		}
	}

	.section__table {
		@include breakpoint-down(mobile) {
			overflow-x: auto;
		}
	}

	.section__table + .section__table {
		margin-top: 3.4rem; 

		@include breakpoint-down(mobile) {
			margin-top: 2.3rem; 
		}
	}

	.section__link {
		@include breakpoint-down(mobile) {
			display: flex !important; 
			justify-content: space-between;
			align-items: center;
			background-color: #031A61;
			padding: 2.2rem 2.7rem 2.1rem 1.7rem;
			color: $c-white;
		}

		.section__link-icon {
			display: flex;
			align-items: center;
			text-transform: uppercase;

			img {
				display: inline-block;
				margin-right: 1rem; 
			}
		}

		h5 {
			font-size: 1.8rem;
			letter-spacing: -.02em;
			margin-bottom: 0;
		}

		.burger-btn {
			span {
				background-color: $c-white;
			}
		}
	}

}