/* ------------------------------------------------------------ *\
	Section description
\* ------------------------------------------------------------ */

.section-description {
	padding: 6.3rem 0 5.4rem;

	@include breakpoint-down(mobile) {
		padding: 7rem 0 50px;
	}

	.row {
		margin: -2rem;

		@include breakpoint-down(tablet) {
			margin: -1rem;
		}

		@include breakpoint-down(mobile) {
			margin: 0;
		}

		.col {
			padding: 2rem;

			@include breakpoint-down(tablet) {
				padding: 1rem
			}	

			@include breakpoint-down(mobile) {
				padding: 0;
			}
		}
	}

	.col--size-3 {
		max-width: 41rem;
		flex: 0 0 41rem;

		@include breakpoint-down(tablet) {
			max-width: 25rem;
			flex: 0 0 25rem;
		}

		@include breakpoint-down(mobile) {
			max-width: 100%;
			flex: 0 0 100%;
		}
	}

	.col--size-4 {
		max-width: calc(100% - 41rem);
		flex: 0 0 calc(100% - 41rem);

		@include breakpoint-down(tablet) {
			max-width: calc(100% - 25rem);
			flex: 0 0 calc(100% - 25rem);
		}

		@include breakpoint-down(mobile) {
			max-width: 100%;
			flex: 0 0 100%;
		}
	}

	.section__aside {
		background-color: #031A61;
		padding: 3.2rem 3.2rem 4rem;
		color: $c-white;
		height: 100%;

		@include breakpoint-down(tablet) {
			padding: 2rem;			
		}

		@include breakpoint-down(mobile) {
			margin: 0 -2.4rem;
			padding: 3.2rem 3.2rem 3.8rem;
		}		

		ul {
			padding-left: 0;
			list-style: none;

			li {
				padding-top: 2.4rem;

				h6 {
					font-size: 1.6rem;
					line-height: 1.5;
					letter-spacing: .04em;
					text-transform: uppercase;
					font-weight: 700;
				}

				.btn {
					min-width: 6.3rem;
					min-height: 4rem;
					line-height: 4rem;
					padding: 0 1rem;
					font-size: 1.4rem;
					text-transform: none;
				}

				.btn + .btn {
					margin-left: 1.8rem; 
				}

				p {
					font-size: 1.6rem;
					line-height: 1.5;
					letter-spacing: -.02em;
					color: #DFE3EC;
				}

				span {
					display: inline-block; 
					padding-left: 3rem;
					position: relative;
					font-size: 1.6rem;
					line-height: 1.5;
					letter-spacing: -.02em;
					color: #DFE3EC;

					img {
						position: absolute;
						top: 50%;
						left: 0;
						transform: translateY(-50%);
					} 
				}
			}  


			li + li {
				border-top: .2rem solid #13296C;
				margin-top: 2.2rem;  
			}
		}
	}

	.section__aside-actions {
		.btn {
			min-width: 100%;
			text-align: center;
			font-size: 1.4rem;
			min-height: 4rem;
			line-height: 4rem;
			text-transform: none;

			img {
				display: inline-block; 
				margin: -.6rem .9rem 0 0;
			}
		}
	}

	.section__body {
		background-color: #F7F9FC;
		padding: 3.2rem;
		height: 100%;
		font-size: 1.8rem;
		line-height: 1.77;
		letter-spacing: -.02em;
		font-weight: 500;
		color: #565B75;

		@include breakpoint-down(tablet) {
			padding: 2rem;
			font-size: 1.6rem;
		}

		@include breakpoint-down(mobile) {
			padding: 32px 32px 30px;
			margin: 0 -2.4rem;
			line-height: 1.75;
		}

		h3 {
			font-weight: 700;
			letter-spacing: -.002em;
			line-height: 1.2;
			color: #07081B;
			margin-bottom: 0;

			@include breakpoint-down(mobile) {
				font-size: 3.2rem;
				line-height: 1.25;
			}
		}

		ol {
			padding-left: 2.8rem;

			@include breakpoint-down(mobile) {
			 	list-style-type: '-';
			 	padding-left: 0; 
			 } 
		}

		h3 + p {
			margin-top: 1.1rem; 
		}

		p + p {
			margin-top: 3.3rem; 
		}

		p + ol {
			margin-top: 3.3rem; 
		}
	}

	.cards {
		.row {
			margin: -1.2rem;

			@include breakpoint-down(mobile) {
				margin: 0;
			}

			.col {
				padding: 1.2rem;

				@include breakpoint-down(mobile) {
					padding: 0;
				}
			}

			.col + .col {
				@include breakpoint-down(mobile) {
					margin-top: 2.4rem; 
				}
			}
		}
	}

	.row + .cards {
		margin-top: 2.4rem; 
	}

}