/* ------------------------------------------------------------ *\
	Section slider
\* ------------------------------------------------------------ */

.section-slider {
	padding: 9.3rem 0 5rem;

	@include breakpoint-down(tablet) {
		padding: 5rem 0;
	}

	@include breakpoint-down(mobile) {
		padding: 4.2rem 0 30px;
	}
}