/* ------------------------------------------------------------ *\
	Section
\* ------------------------------------------------------------ */

.section {
	padding: 11.5rem 0 12rem;

	@include breakpoint-down(tablet) {
		padding: 6.5rem 0 8rem;
	}

	.section__head {
		max-width: 60rem;
		margin: 0 auto 4.7rem;
		font-weight: 500;
		color: #565B75;
		letter-spacing: -.02em;
		font-size: 1.8rem;
		line-height: 1.77;
		text-align: center;

		@include breakpoint-down(mobile) {
			font-size: 1.6rem;
			line-height: 1.75;
			margin-bottom: 5rem;
		}

		h3 {
			color: #07081B;
			font-weight: 700;
			line-height: 1.2;
			margin-bottom: 2rem;
		}

		img {
			@include breakpoint-down(mobile) {
				max-width: 8.7rem;
				margin: 0 auto;
			}
		}

		img + p {
			margin-top: 2.1rem; 
		}

		.btn + h3 {
			margin-top: 1rem; 
		}

		p + .section__head-actions {
			margin-top: -.6rem; 
		}

		.section__head-actions {
			.btn + .btn {
				margin-left: 1rem; 
			}
		}
	}

	.list-btns {
		display: flex;
		list-style: none;
		padding-left: 0;
		justify-content: center;
		margin-bottom: 3.2rem;

		@include breakpoint-down(mobile-small) {
			width: 300px;
			overflow-x: auto;
		}

		.btn {
			font-size: 1.8rem;
			min-width: 12.4rem;
			padding: 0 2rem;
			font-weight: 500;

			@include breakpoint-down(mobile) {
				font-size: 1.4rem;
				min-height: 3.2rem;
				line-height: 3.2rem;
				padding: 0 .9rem; 
				min-width: 9.6rem;
			}
		}  

		li + li {
			margin-left: 1.7rem;

			@include breakpoint-down(mobile) {
			 	margin-left: 1rem; 
			 } 
		}
	}

	.section__head--secondary {
		h3 {
			@include breakpoint-down(mobile) {
				font-size: 3.2rem;
				line-height: 1.25;
			}
		}
	}

	.section__pointer {
		max-width: 101.2rem;
		margin: 2.5rem auto .8rem;

		@include breakpoint-down(mobile) {
			margin: 2.8rem auto 3.2rem;
			padding: 0 3.5rem;
		}
	}

	.section__image {
		max-width: 108rem;
		margin: 0 auto;
	}
}

.section--cards-secondary {
	padding: 9.7rem 0 7.5rem;

	@include breakpoint-down(mobile) {
		padding: 4.5rem 0 40px;
	}

	.section__inner {
		padding: 4.6rem 0 2.4rem;
		background-color: #F7F9FC;

		@include breakpoint-down(mobile) {
			background-color: transparent;
			padding: 0;
		}
	}

	.section__head {
		margin-bottom: 2.7rem
	}
}

.section--partners {
	padding: 4.5rem 0 10.5rem;

	@include breakpoint-down(tablet) {
		padding: 4.5rem 0 7rem;
	}

	@include breakpoint-down(mobile) {
		padding: 6rem 0 5.6rem;
	}

	.section__head {
		max-width: 70rem;
		margin-bottom: 3.8rem;

		@include breakpoint-down(mobile) {
			margin-bottom: 2rem;
		}
	}
}

.section--dark {
	padding: 4.3rem 0 6.7rem;
	background-color: #031A61;
	color: $c-white;

	@include breakpoint-down(mobile) {
		padding: 3.6rem 0 2.6rem;
	}

	.section__head {
		margin-bottom: 3.3rem;

		@include breakpoint-down(mobile) {
			margin-bottom: 2.3rem;
		}

		h3 {
			color: $c-white;
		}
	}
}

.section--accordion {
	padding: 6.9rem 0 5rem;

	@include breakpoint-down(tablet) {
		padding: 5rem 0;
	}

	@include breakpoint-down(mobile) {
		padding: 6.2rem 0 4.4rem;
	}

	.section__head {
		max-width: 48rem;
		margin-bottom: 3.8rem;

		@include breakpoint-down(mobile) {
			margin-bottom: 14px;
		}

		h3 {
			@include breakpoint-down(mobile) {
				font-size: 3.2rem;
				margin-bottom: 1rem;
			}
		}
	}
}

.section--dark-mobile {
	@include breakpoint-down(mobile) {
		background-color: #031A61;
		color: $c-white;
	}

	.section__head {
		h3 {
			@include breakpoint-down(mobile) {
				color: $c-white;
			}
		}
	}
}

.section--boxes {
	padding: 6rem 0 3rem;

	@include breakpoint-down(mobile) {
		padding: 20px 0 20px;
		padding: 0;
	}

	.box + .box {
		margin-top: 7rem; 

		@include breakpoint-down(tablet) {
			margin-top: 4rem; 
		}

		@include breakpoint-down(mobile) {
			margin-top: 6.2rem; 
		}
	}

	.box {
		@include breakpoint-down(mobile) {
			background-color: #F7F9FC;
			margin: 0 -2.4rem;
			padding: 4rem 2.4rem;
		}
	}

	.box--alt-reversed {
		@include breakpoint-down(mobile) {
			background-color: transparent;
		}
	}
}

.section--gray {
	padding: 6.2rem 0 6.6rem;
	background-color: #F7F9FC;
}

.section--users {
	padding: 0 0 7rem; 

	/*  Mobile  */
	
	@include breakpoint-down(mobile) {
		padding: 0 0 2.8rem; 
	}

	.list-partners {
		display: none; 

		/*  Mobile  */
		
		@include breakpoint-down(mobile) {
			display: flex;
		}
	}

	.section__head {
		margin: 0 auto 2.7rem; 

		h3 {
			/*  Mobile  */
			
			@include breakpoint-down(mobile) {
				font-size: 32px; 
				line-height: 1.25; 
				padding: 0 10px; 
			}
		}
	}

	.section__image {
		max-width: 100%; 
	}
}

.section--features {
	padding: 2.7rem 0 10rem; 

	/*  Mobile  */
	
	@include breakpoint-down(mobile) {
		padding: 2.7rem 0 2rem; 
	}

	.list-features {
		margin-right: -28px; 

		/*  Tablet  */
		
		@include breakpoint-down(tablet) {
			margin-right: 0; 
		}

		/*  Mobile  */
		
		@include breakpoint-down(mobile) {
			padding: 0; 
			margin: 30px 0 0; 
		}
	}

	.box__content {
		/*  Mobile  */
		
		@include breakpoint-down(mobile) {
			text-align: center; 
			padding: 0; 
		}
	}

	.section__head {
		margin: 0 auto 2.7rem; 
	}

	.section__image {
		max-width: 100%; 
	}
}

.section--support {
	padding: 11.5rem 0 1.2rem; 

	/*  Mobile  */
	
	@include breakpoint-down(mobile) {
		padding: 3.5rem 0 0; 
	}

	+ .section-cards {
		/*  Mobile  */
		
		@include breakpoint-down(mobile) {
			padding: 4.3rem 0 20px; 
		}
	}

	.box__content {
		/*  Mobile  */
		
		@include breakpoint-down(mobile) {
			text-align: center; 
			padding: 0; 
		}
	}

	.box__image {
		/*  Mobile  */
		
		@include breakpoint-down(mobile) {
			margin-top: 32px; 
		}
	}
}

.section--workflow {
	padding: 11.9rem 0 11.2rem; 

	/*  Mobile  */
	
	@include breakpoint-down(mobile) {
		padding: 4.1rem 0 4.5rem; 
	}

	.box__content {
		/*  Mobile  */
		
		@include breakpoint-down(mobile) {
			text-align: center; 
			padding: 0; 
		}
	}

	.box__image {
		/*  Mobile  */
		
		@include breakpoint-down(mobile) {
			margin-top: 30px; 
		}

		> img {
			/*  Mobile  */
			
			@include breakpoint-down(mobile) {
				display: none; 
			}
		}

		ul {
			display: none; 

			/*  Mobile  */
			
			@include breakpoint-down(mobile) {
				display: flex;
			}
		}
	}
}

.section--features-alt {
	padding: 4.3rem 0 5.7rem; 

	/*  Mobile  */
	
	@include breakpoint-down(mobile) {
		padding: 2.8rem 0 3.4rem; 
	}

	.section__head {
		margin-bottom: 4.2rem; 

		/*  Mobile  */
		
		@include breakpoint-down(mobile) {
			margin-bottom: 3.3rem; 
		}

		h3 {
			/*  Mobile  */
			
			@include breakpoint-down(mobile) {
				font-size: 24px; 
				line-height: 1.34; 
			}
		}

		.btn {
			/*  Mobile  */
			
			@include breakpoint-down(mobile) {
				min-width: 160px; 
			}

			+ h3 {
				/*  Mobile  */
				
				@include breakpoint-down(mobile) {
					margin: 1.3rem 0 0; 
				}
			}
		}
	}
}

.section--chat {
	padding: 6.2rem 0 6.7rem; 

	/*  Mobile  */
	
	@include breakpoint-down(mobile) {
		background: none; 
		padding: 0; 
	}

	.section__head {
		margin-bottom: 0; 
		margin: 0; 
		padding: 24px 0 0 83px;
		text-align: left;  

		/*  Tablet  */
		
		@include breakpoint-down(tablet) {
			padding: 24px 0 0 30px;
		}

		.btn--alt {
			line-height: 3.4rem; 

			@include breakpoint-down(mobile) {
				font-size: 1.2rem;
				letter-spacing: -.02em;
				font-weight: 400;
				min-height: 2.8rem;
				line-height: 2.8rem;
			}

			+ h3 {
				margin-top: 39px; 
			}
		}

		h3 {
			+ p { 
				margin-top: 20px; 
			}
		}

		p {
			color: #fff; 
		}

		ul {
			+ .btn {
				margin: 38px 0 0; 
			}
		}
	}
}