/* ------------------------------------------------------------ *\
	Section forms
\* ------------------------------------------------------------ */

.section-forms {
	padding: 4rem 0 5rem;

	@include breakpoint-down(mobile) {
		padding: 3.6rem 0 2.5rem;
		text-align: center;
	}

	.container {
		max-width: 116rem;
	}

	.row {
		margin: 0 -3rem;

		@include breakpoint-down(tablet) {
			margin: -1rem;
		}


		.col {
			padding: 0 3rem;

			@include breakpoint-down(tablet) {
				padding: 1rem;
			}
		}
	}

	.section__body {
		padding: 3rem 5.3rem 0 0;

		@include breakpoint-down(tablet) {
			padding: 0;
		}

		@include breakpoint-down(mobile) {
			margin-bottom: 4.5rem;
		}

		h3 {
			letter-spacing: -.002em;
			line-height: 1.2;
			color: #07081B;
			font-weight: 700;

			@include breakpoint-down(mobile) {
				font-size: 3.2rem;
				line-height: 1.25;
			}
		}

		.btn + h3 {
			margin-top: 2.5rem; 

			@include breakpoint-down(mobile) {
				margin-top: 1rem; 
			}
		}

		h3 + .btn {
			margin-top: .3rem; 

			@include breakpoint-down(mobile) {
				margin-top: .7rem; 
			}
		}

		.btn + .form {
			margin-top: 3rem; 

			@include breakpoint-down(mobile) {
				margin-top: 4.5rem; 
			}
		}

		.btn--size-1 {
			@include breakpoint-down(mobile) {
				min-width: 7rem;
				min-height: 2.8rem;
				line-height: 2.8rem;
			}
		}
	}

	.section__aside {
		text-align: center;
		background-color: #031A61;
		padding: 5rem 3.3rem;
		color: $c-white;

		@include breakpoint-down(tablet) {
			padding: 2rem;
		}

		@include breakpoint-down(mobile) {
			padding: 2rem 2.4rem 3.2rem;
		}

		h5 {
			margin-bottom: 3.5rem;
			font-weight: 700;

			@include breakpoint-down(mobile) {
				font-size: 3.2rem;
				line-height: 1.25;
				margin-bottom: 2.5rem;
			}
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			list-style: none;
			padding-left: 0;
			margin: -1.2rem;

			@include breakpoint-down(tablet) {
				margin: -.5rem;
			}

			@include breakpoint-down(mobile) {
				margin: 0;
			}

			li + li {
				@include breakpoint-down(mobile) {
					margin-top: 2.2rem; 
				}
			}

			li {
				max-width: 50%;
				flex: 0 0 50%;
				padding: 1.2rem;

				@include breakpoint-down(tablet) {
					padding: .5rem;
				}

				@include breakpoint-down(mobile) {
					max-width: 100%;
					flex: 0 0 100%;
					padding: 0;
				}

				div {
					padding: 2.5rem 0 2rem;
					text-align: center;
					font-size: 1.6rem;
					letter-spacing: .04em;
					font-weight: 500;
					line-height: 1.5;
					background-color: #13296C;
					text-transform: uppercase;

					@include breakpoint-down(tablet) {
						font-size: 1.4rem;
					}

					@include breakpoint-down(mobile) {
						font-size: 1.6rem;
					}

					p {
						margin-bottom: .8rem;
					}

					h4 {
						font-weight: 400;
						line-height: 1.25;
						letter-spacing: -.002em;

						@include breakpoint-down(mobile) {
							font-size: 3.2rem;
						}
					}
				}
			}  
		}

		.form {
			text-align: left;
		}

		ul + .form {
			margin-top: 3.8rem; 

			@include breakpoint-down(mobile) {
				margin-top: 2.8rem; 
			}
		}
	}
}