/* ------------------------------------------------------------ *\
	Section entry
\* ------------------------------------------------------------ */

.section-entry {
	text-align: center;

	.section__content {
		padding: 4.8rem 7rem;
		background-color: #F7F9FC;
		font-size: 1.8rem;
		line-height: 1.33;
		letter-spacing: -.02em;
		color: #565B75;

		@include breakpoint-down(tablet) {
			font-size: 1.6rem;
			padding: 3rem 4rem;
		}

		@include breakpoint-down(mobile) {
			margin: 0 -2.4rem;
			padding: 3.3rem 2.5rem;
			font-size: 1.6rem;
			line-height: 1.75;
		}

		h3 {
			line-height: 1.2;
			color: #07081B;
			font-weight: 700;
			margin-bottom: 0;

			@include breakpoint-down(mobile) {
				font-size: 3.2rem;
				line-height: 1.25;
			}
		}

		p {
			margin-bottom: 0;
		}

		img + h3 {
			margin-top: 3.5rem; 
		}

		h3 + p {
			margin-top: 2rem;

			@include breakpoint-down(mobile) {
			 	margin-top: 1.4rem; 
			 } 
		}

		p + p {
			margin-top: 2.3rem; 

			@include breakpoint-down(mobile) {
				margin-top: 2.8rem; 
			}
		}
	}

	.section__icon {
		text-align: right;
		padding-top: 1rem; 
	}

	.section__content + .list-details {
		margin-top: 2.5rem; 
	}
}