/* ------------------------------------------------------------ *\
	Steps
\* ------------------------------------------------------------ */

.steps {
	.row {
		margin: -2rem;

		@include breakpoint-down(mobile) {
			margin: -3.2rem;
		}

		.col {
			padding: 2rem;

			@include breakpoint-down(mobile) {
				padding: 3.2rem;
			}
		}
	}
}

.step {
	text-align: center;

	.step__head {
		background-color: #F7F9FC;	
		padding: 2rem 0;
		margin-bottom: 2.5rem;

		@include breakpoint-down(mobile) {
			padding: 20px 0;
		}

		span {
			display: inline-block;
			text-align: center;
			background-color: #13296C;
			min-height: 3.2rem;
			line-height: 3.2rem;
			font-size: 1.8rem;
			letter-spacing: -.02em;
			text-transform: uppercase;
			color: $c-white;
			min-width: 8.8rem;

			@include breakpoint-down(tablet) {
				font-size: 1.6rem;
			}

			@include breakpoint-down(mobile) {
				font-size: 1.8rem;
			}
		}

		h5 {
			letter-spacing: -.002em;
			color: #07081B;
			line-height: 1.33;

			@include breakpoint-down(mobile) {
				font-size: 2.4rem;
			}
		}

		span + h5 {
			margin-top: 1.6rem; 
		}
	}

	.step__body {
		font-size: 1.8rem;
		text-transform: uppercase;
		color: #878CA6;
		letter-spacing: -.02em;
		font-weight: 500;
		line-height: 1.77;
		margin-bottom: 2.4rem;

		@include breakpoint-down(tablet) {
			font-size: 1.6rem;
		}

		@include breakpoint-down(mobile) {
			font-size: 1.8rem;
		}

		h5 {
			letter-spacing: -.002em;
			color: #07081B;
			font-weight: 700;
			text-transform: none;

			@include breakpoint-down(mobile) {
				font-size: 2.4rem;
			}
		}

		p {
			margin-bottom: 0;
		}

		p + h5 {
			margin-top: 1rem; 
		}

		h5 + p {
			margin-top: 2.6rem; 
		}
	}

	.step__actions {
		padding: 0 3rem;

		@include breakpoint-down(tablet) {
			padding: 0;
		}

		@include breakpoint-down(mobile) {
			padding: 0 3rem;
		}

		.btn {
			min-width: 100%;
			background-color: transparent;
			border: .1rem solid #3477F5;
			color: #3477F5;

			&:hover {
				background-color: #3477F5;
				color: $c-white;
			}
		}
	}
}