/* ------------------------------------------------------------ *\
	Table
\* ------------------------------------------------------------ */

.table {
	@include breakpoint-down(mobile) {
		width: 90rem;
	}

	th {
		background-color: #031A61;
		color: $c-white !important;
		text-transform: uppercase;
		letter-spacing: .04em;
		border: none;
		text-align: center;
		width: 15.2%;
		padding: 1rem 0 1rem 0;
		vertical-align: middle;
		font-size: 1.6rem;

		@include breakpoint-down(tablet) {
			font-size: 1.4rem;
		}

		img {
			vertical-align: -.4rem;
			margin-right: 1rem; 
		}

		h5 {
			text-transform: none;
			letter-spacing: -.002em;
			font-weight: 400;
		}
	}

	td:first-child {
		padding: 2rem 1rem 2.1rem 4.1rem;
		text-align: left;

		@include breakpoint-down(tablet) {
			padding: 2rem 1rem 2rem 2rem;
		}

		@include breakpoint-down(mobile) {
			padding: 1.6rem 1.6rem 1.7rem;
		}
	}

	td {
		font-size: 1.8rem;
		color: #07081B;
		letter-spacing: -.02em;
		vertical-align: middle;
		text-align: center;
		border: none;

		@include breakpoint-down(tablet) {
			font-size: 1.6rem;
		}

		@include breakpoint-down(mobile) {
			font-size: 1.8rem;
			text-align: left;
		}

		span {
			font-size: 1.4rem;
			text-transform: uppercase;
			letter-spacing: .04em;
			font-weight: 700;
			line-height: 2.2;

			@include breakpoint-down(mobile-small) {
				letter-spacing: 0;
				font-size: 1.2rem;
			}
		}
	}

	tbody:before {
		@include breakpoint-down(mobile) {
		    content: "-";
		    display: block;
		    line-height: 1em;
		    color: transparent;
		}
	}


	th:first-child {
		width: 25%;
		padding: 1rem 1rem 1rem 4.1rem;
		text-align: left;

		@include breakpoint-down(tablet) {
			padding: 1rem 1rem 1rem 2rem;
		}

		@include breakpoint-down(mobile) {
			padding: 1.5rem;
			width: 30.7%;
		}

		@include breakpoint-down(mobile-small) {
			width: 26%;
		}
	}

	th:nth-child(2) {
		width: 14.5%;
	}

	th:nth-child(3) {
		width: 15%;
	}

	th:nth-child(4) {
		width: 14%;
	}

	th:nth-child(5) {
		width: 16%;
	}

	th:nth-child(6) {
		width: 15.5%;
	}

	&.js-table {
		thead {
			cursor: pointer;
		}
		
		tbody {
			display: none;
		}
	}
}

.table--secondary {
	th {
		padding: 2.1rem 0 2.1rem 0;
		font-size: 1.4rem;
	}

	th:first-child {
		padding: 2.1rem 1rem 2.1rem 4.1rem;

		@include breakpoint-down(tablet) {
			padding: 2rem 1rem 2rem 2rem;
		}			
	}
}

.table--alt {

	th {
		text-align: center;
	}

	& > :not(:first-child) {
		border-top: none; 
	}

	th:first-child {
		width: 63%;
		padding: 1.3rem 1rem 1.3rem 4.1rem;
	}

	td {
		@include breakpoint-down(mobile) {
			width: 34%;
		}
	}

	td:first-child {
		@include breakpoint-down(mobile) {
			width: 30%;
		}
	}


	th:nth-child(2) {
		width: 12%;
		font-size: 1.4rem;
		letter-spacing: .04em;
	}

	th:nth-child(3) {
		width: 15%;
		letter-spacing: .04em;
		font-size: 1.4rem;
	}
}

.table-striped > tbody > tr:nth-of-type(odd) > td {
	--bs-table-accent-bg: #F7F9FC;
}