/* ------------------------------------------------------------ *\
	Tabs
\* ------------------------------------------------------------ */

.tabs {
	.nav-tabs {
		display: flex;
		justify-content: space-between;
		padding: 0 4rem;
		border: none;

		@include breakpoint-down(mobile) {
			padding: 0 2rem;
		}

		.nav-link {
			color: #878CA6;
			font-size: 1.6rem;
			letter-spacing: -.02em;
			line-height: 1.5;
			border: none;
			border-radius: 0;
			transition: color $t-duration;
			padding: 0;
			position: relative;
			padding-bottom: 1.4rem;
			background-color: transparent;

			span {
				@include breakpoint-down(mobile) {
					display: none;
				}
			}

			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 50%;
				width: 155%;
				height: .2rem;
				transform: translateX(-50%);
				background-color: #07081B;
				opacity: 0;
				visibility: hidden;
				transition: opacity $t-duration, visibility $t-duration;  
			}

			svg {
				fill: #878CA6;
				transition: fill $t-duration;
				display: inline-block; 
				vertical-align: middle;
				margin-top: -.7rem; 
				margin-right: .4rem; 

				@include breakpoint-down(mobile) {
					margin: 0;
				}
			}

			&:hover {
				color: #07081B;

				svg {
					fill: #07081B;
				}
			}

			&.active {
				color: #07081B;
				font-weight: 500;

				&:after {
					opacity: 1;
					visibility: visible; 
				}

				svg {
					fill: #07081B;
				}
			}
		}
	}

	.tab-content {
		background-color: #F7F9FC;
		padding: 7rem 0 6.5rem;

		@include breakpoint-down(mobile) {
			padding: 3.6rem 0 0;
			background-color: transparent;
		}

		.tab-pane {
			margin: 0 -1rem;
			opacity: 0;
			visibility: hidden; 
			display: none; 
			transition: opacity $t-duration, visibility $t-duration;
			position: relative;

			@include breakpoint-down(tablet) {
				margin: 0;
			}

			&.active {
				display: block; 
				opacity: 1;
				visibility: visible;  
			}
		}

		.tab__image {
			margin-right: -2.5rem; 

			@include breakpoint-down(mobile) {
				position: relative;
				padding-top: 78%;
				margin-bottom: 30px; 
			}

			img {
				@include breakpoint-down(mobile) {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			@include breakpoint-down(small-desktop) {
				margin-right: 0; 
			}
		}

		.tab__body {
			padding: .7rem 1.5rem 0 8.2rem;
			color: #565B75;
			font-size: 1.8rem;
			font-weight: 500;
			letter-spacing: -.02em;
			line-height: 1.77;

			@include breakpoint-down(tablet) {
				padding: 0 1rem 0 0;
			}

			@include breakpoint-down(mobile) {
				padding: 0;
				font-size: 1.6rem;
				line-height: 1.75;
			}

			h3 {
				font-weight: 700;
				color: #07081B;
				line-height: 1.2;
				margin-bottom: 1.4rem;

				@include breakpoint-down(mobile) {
					line-height: 1.33;
				}
			}

			p + .tab__actions {
				margin-top: 3.2rem; 
			}

			.tab__actions {
				.btn + .btn {
					margin-left: 1rem;

					@include breakpoint-down(mobile) {
					 	margin: 1.7rem 0 0 0;
					 } 
				}

				.btn--secondary {
					background-color: #ECF0F5;

					svg {
						display: inline-block;
						margin: -.4rem 0 0 .5rem;
					}

					&:hover {
						background-color: #031A61;
					}
				}
			}

			.tab__actions + .tab__entry {
				margin-top: 11.5rem; 

				@include breakpoint-down(tablet) {
					margin-top: 5rem; 
				}

				@include breakpoint-down(mobile) {
					margin-top: 3.5rem; 
				}
			}

			.tab__entry {
				img + p {
					margin-top: 1.8rem; 
				}
			}
		}

	}
}

.tabs--dark {
	position: relative;
	padding: 5.2rem 0 7.1rem;

	@include breakpoint-down(mobile) {
		padding: 2.5rem 0 3.2rem;
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		background-color: #031A61;
		width: 100vw;
		height: 100%;
		z-index: -1; 
	}

	.nav-tabs {
		padding: 0;
		border-bottom: .1rem solid rgba(255, 255, 255, .2);
		padding-bottom: 4rem; 

		@include breakpoint-down(mobile) {
			padding-bottom: 2rem;
		}

		.nav-link {
			color: #B8BFD0;
			padding: 1rem 4rem;
			transition: color $t-duration, background-color $t-duration;

			@include breakpoint-down(small-desktop) {
				padding: 1rem 2rem;
			}

			@include breakpoint-down(tablet) {
				padding: 1rem;
				font-size: 1.4rem;
			}

			@include breakpoint-down(mobile) {
				padding: 1.7rem;
			}

			@include breakpoint-down(mobile-small) {
				padding: 1rem;
			}

			&:hover {
				color: $c-white;
				background-color: #13296C;

				&:after{
					display: none;
				}

				svg {
					fill: $c-white;
				}
			}

			svg {
				fill: #B8BFD0;
			}

			&.active {
				color: $c-white;
				background-color: #13296C;

				&:after{
					display: none;
				}

				svg {
					fill: $c-white;
				}
			}
		}
	}

	.tab-content {
		background-color: transparent;
		padding: 3.7rem 0 0;

		@include breakpoint-down(mobile) {
			padding: 2.3rem 0 0;
		}

		.tab__body {
			padding: 0 5.5rem 0 0;
			color: $c-white;

			@include breakpoint-down(tablet) {
				padding: 0;
			}

			h3 {
				letter-spacing: -.002em;
				color: $c-white;
			}

			p + .tiles-small {
				margin-top: 4rem; 

				@include breakpoint-down(mobile) {
					margin-top: 2.3rem; 
				}
			}

			.tiles-small + .tab__entry {
				margin-top: 4rem; 

				@include breakpoint-down(mobile) {
					margin-top: 4.5rem; 
				}
			}

			.tab__entry {
				background-color: #13296C;
				padding: 2.6rem 1rem 1.5rem 2.5rem;

				@include breakpoint-down(tablet) {
					padding: 1rem;
				}

				@include breakpoint-down(mobile) {
					padding: 0;
					background-color: transparent;
				}

				.row {
					margin: -2rem;

					.col {
						padding: 2rem;
					}
				}

				h6 {
					font-size: 1.4rem;
					font-weight: 400;
					letter-spacing: -.02em;
					margin-bottom: 1.2rem;
				}

				.list-platforms {
					padding-left: 0;
					list-style: none;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;  

					li.is-active {
						a {
							background-color: #031A61;
							font-weight: 400;

							@include breakpoint-down(mobile) {
								background-color: #13296C;
							}
						}
					}

					a {
						display: inline-block;
						min-width: 8.6rem;
						min-height: 4rem;
						line-height: 4rem;
						text-align: center;

						@include breakpoint-down(mobile) {
							background-color: #13296C;
						}
					}
				}
			}

		}

		.col-size-1 {
			width: 57%;

			@include breakpoint-down(mobile) {
				width: 100%;
			}
		}

		.col-size-2 {
			width: 43%;

			@include breakpoint-down(mobile) {
				width: 100%;
			}
		}
	}
}

.tabs--size-1 {
	padding: 0;

	.nav-tabs {
		@include breakpoint-down(mobile) {
			padding-bottom: 3rem;
		}

		.nav-link {
			@include breakpoint-down(mobile) {
				padding: 1.5rem;
			}

			@include breakpoint-down(mobile-small) {
				padding: 1rem;
			}
		}
	}

	.tab-pane {
		.row {
			margin: -3.5rem;

			.col {
				padding: 3.5rem;
			}
		}

		.tab__image {
			margin: 0 0 0 -5.5rem;
			display: none; 

			&.is-active {
				display: block; 
			}
		}
	}
}
