/* ------------------------------------------------------------ *\
	Tiles secondary
\* ------------------------------------------------------------ */

.tiles-secondary {
	.row {
		margin: -2rem;

		.col {
			padding: 2rem;
		}
	}
}

.tile-secondary {
	background-color: #F7F9FC;
	text-align: center;
	padding: 4rem 4rem 5rem;

	@include breakpoint-down(mobile) {
		padding: 2.4rem 2.3rem 20px;
	}

	h6 {
		font-size: 2rem;
		font-weight: 400;
		letter-spacing: -.02em;
		color: #07081B;

		@include breakpoint-down(mobile) {
			font-size: 1.6rem;
			line-height: 1.5;
		}
	}

	.tile__charts {
		.row {
			margin: -1.9rem;
			align-items: flex-end;

			@include breakpoint-down(mobile) {
				margin: -1.1rem;
			}

			.col {
				padding: 1.9rem;

				@include breakpoint-down(mobile) {
					padding: 1.1rem;
				}
			}
		}
	}

	.tile__chart {
		background: linear-gradient(180deg, rgba(198, 205, 213, 0) -11.28%, #DEE6EF 100%);
		position: relative;
		min-height: 28.8rem;
		color: #12286C;
		font-size: 4rem;
		letter-spacing: -.02em;
		font-weight: 700;

		@include breakpoint-down(mobile) {
			min-height: 17.1rem;
		}

		span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			@include breakpoint-down(mobile) {
				font-size: 2.4rem;
				line-height: 1.2;
			}
		}
	}

	.tile__chart--dark {
		min-height: 25.4rem;
		color: $c-white;
		background: linear-gradient(180deg, #E6ECFF 0%, #031A61 100%);

		@include breakpoint-down(mobile) {
			min-height: 15.1rem;
			margin-bottom: -.4rem;
		}
	}

	.tile__chart + img {
		margin-top: 2.2rem; 

		@include breakpoint-down(mobile) {
			margin-top: 1.2rem;
		}
	}

	img + h6 {
		margin-top: 2.4rem; 

		@include breakpoint-down(mobile) {
			margin-top: 1.2rem;
			font-size: 1.2rem; 
		}
	}

	h6 + .tile__charts {
		margin-top: 3.3rem; 

		@include breakpoint-down(mobile) {
			margin-top: 1.9rem; 
		}
	}
}