/* ------------------------------------------------------------ *\
	Tiles small
\* ------------------------------------------------------------ */

.tiles-small {
	.row {
		margin: -1.2rem 0;

		@include breakpoint-down(mobile) {
			margin: 0;
		}

		.col {
			padding: 1.2rem 0;

			@include breakpoint-down(mobile) {
				padding: 0;
			}
		}

		.col + .col {
			@include breakpoint-down(mobile) {
				margin-top: 1.7rem; 
			}
		}
	}
}

.tile-small {
	padding: 1.5rem 3.6rem 1.7rem 2.6rem;
	font-size: 1.6rem;
	line-height: 1.5;
	letter-spacing: -.02em;

	@include breakpoint-down(tablet) {
		padding: 1rem 1.5rem;
	}

	@include breakpoint-down(mobile) {
		padding: 15px 26px 17px;
		background-color: #13296C;
	}

	&.is-active {
		background-color: #13296C;
	}

	a {
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1.6rem;
		line-height: 1.5;
		font-weight: 700;
		letter-spacing: .04em;
		display: inline-block; 
		margin-bottom: .3rem;

		@include breakpoint-down(tablet) {
			font-size: 1.4rem;
		}

		@include breakpoint-down(mobile) {
			font-size: 1.6rem;
		}

		img {
			display: inline-block;
			margin: -.7rem 0 0 .5rem;
		}
	}
}