/* ------------------------------------------------------------ *\
	Widget Chat
\* ------------------------------------------------------------ */

.widget-chat {
	background: #13296C;
	padding: 43px 43px 43px 40px; 
	margin-left: -7px; 

	@include breakpoint-down(small-desktop) {
		margin-left: 0; 
	}

	/*  Mobile  */
	
	@include breakpoint-down(mobile) {
		padding: 24px 24px 27px 24px; 
	}

	.widget__item {
		position: relative; 
		padding-right: 62px; 
		text-align: right; 

		/*  Mobile  */
		
		@include breakpoint-down(mobile) {
			padding-right: 35px; 
		}

		p {
			border: 1px solid #FFFFFF;
			padding: 15px 18px;
			margin: 0; 
			text-align: left; 
			font-size: 16px; 
			line-height: 1.5; 
			letter-spacing: -0.02em;

			/*  Mobile  */
			
			@include breakpoint-down(mobile) {
				font-size: 12px; 
				line-height: 1.67; 
				padding: 11px 14px; 
			}

			+ p {
				margin: 20px 0 0; 

				/*  Mobile  */
				
				@include breakpoint-down(mobile) {
					margin: 10px 0 0; 
				}
			} 
		}

		.widget__item-time {
			display: inline-block; 
			font-size: 12px; 
			margin: 6px 0 0; 

			/*  Mobile  */
			
			@include breakpoint-down(mobile) {
				font-size: 7px; 
				display: block; 
				margin: 5px 0 0; 
			}
		}

		.widget__item-avatar {
			position: absolute; 
			top: 0; 
			right: 0; 
			width: 40px; 

			/*  Mobile  */
			
			@include breakpoint-down(mobile) {
				width: 24px; 
			}
		}


		+ .widget__item {
			margin-top: 28px; 

			/*  Mobile  */
			
			@include breakpoint-down(mobile) {
				margin-top: 23px; 
			}
		}

		&--alt {
			text-align: left; 
			padding: 0 0 0 50px; 

			/*  Mobile  */
			
			@include breakpoint-down(mobile) {
				padding: 0 0 0 35px; 
			}

			p {
				border: none;
				background: #031A61;
			}

			.widget__item-avatar {
				right: auto;
				left: 0;  
			}

		}
	}


}