/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */

.wrapper {
	position: relative;
	min-height: 100vh;
	overflow: hidden;
	padding-top: 12.1rem; 

	@include breakpoint-down(mobile) {
		padding-top: 11.2rem; 
	}
}

.wrapper--no-header {
	padding-top: 0; 
}