<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-md-5">
				<a href="#" class="footer__logo">
					<img src="logo.svg" alt="">
				</a>

				<p>Shared Inbox & Shared Email for growing teams. Make it easier for your teams to easily manage and reply to customer emails without sharing email logins.</p>

				<div class="footer__socials">
					<ul>
						<li>
							<a href="#">
								<img src="ico-soc-9.svg" alt="">
							</a>
						</li>

						<li>
							<a href="#">
								<img src="ico-soc-10.svg" alt="">
							</a>
						</li>

						<li>
							<a href="#">
								<img src="ico-soc-11.svg" alt="">
							</a>
						</li>

						<li>
							<a href="#">
								<img src="ico-soc-12.svg" alt="">
							</a>
						</li>
					</ul>
				</div><!-- /.footer__socials -->
			</div><!-- /.col -->

			<div class="col col-12 col-md-7">
				<div class="footer__navs">
					<div class="row">
						<div class="col col-6 col-md-3">
							<div class="footer__nav">
								<ul>
									<li>
										<a href="#">About Us</a>
									</li>

									<li>
										<a href="#">Sign Up</a>
									</li>

									<li>
										<a href="#">Integrations</a>
									</li>

									<li>
										<a href="#">Roadmap</a>
									</li>

									<li>
										<a href="#">Why Us?</a>
									</li>
								</ul>
							</div><!-- /.footer__nav -->
						</div><!-- /.col -->

						<div class="col col-6 col-md-3">
							<div class="footer__nav">
								<ul>
									<li>
										<a href="#">Our Blog</a>
									</li>

									<li>
										<a href="#">FAQs & Guides</a>
									</li>

									<li>
										<a href="#">Recent Updates</a>
									</li>

									<li>
										<a href="#">Affiliate Program</a>
									</li>

									<li>
										<a href="#">Developers</a>
									</li>
								</ul>
							</div><!-- /.footer__nav -->
						</div><!-- /.col -->

						<div class="col col-6 col-md-3">
							<div class="footer__nav">
								<ul>
									<li>
										<a href="#">Compare</a>
									</li>

									<li>
										<a href="#">Frontapp</a>
									</li>

									<li>
										<a href="#">Help Scout</a>
									</li>

									<li>
										<a href="#">Hiver</a>
									</li>

									<li>
										<a href="#">Gmelius</a>
									</li>

									<li>
										<a href="#">GrooveHQ</a>
									</li>
								</ul>
							</div><!-- /.footer__nav -->
						</div><!-- /.col -->

						<div class="col col-6 col-md-3">
							<div class="footer__nav">
								<ul>
									<li>
										<a href="#">Dragapp</a>
									</li>

									<li>
										<a href="#">Intercom</a>
									</li>

									<li>
										<a href="#">Freshdesk</a>
									</li>

									<li>
										<a href="#">Outpost</a>
									</li>

									<li>
										<a href="#">Missive</a>
									</li>
								</ul>
							</div><!-- /.footer__nav -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.footer__navs -->
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</footer><!-- /.footer -->

<div class="footer-bar">
	<div class="container">
		<div class="footer-bar__inner">
			<p>&copy; 2022 Helpwise. All Rights Reserved</p>

			<p>Last updated on 2022-03-30</p>
		</div><!-- /.footer-bar__inner -->
	</div><!-- /.container -->
</div><!-- /.footer-bar -->
