<header class="header" data-image-src="assets/images/temp/" data-svg-src="assets/images/svg/">
	<div class="header__bar">
		<div class="container">
			<p>
				🎉 Helpwise is free forever now 🎉 <a href="#">Click here to read more</a>
			</p>
		</div><!-- /.container -->
	</div><!-- /.header__bar -->

	<div class="header__inner">
		<div class="container container--size-1">
			<a href="#" class="logo">
				<img src="logo.png" alt="">
			</a>

			<div class="header__aside">
				<nav class="navbar">
					<ul class="navbar-nav">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Solution
							</a>

							<div class="dropdown-menu dropdown-menu--size-1">
								<div class="dropdown__cols">
									<div class="dropdown__col">
										<h6>Industries</h6>

										<a class="dropdown-item" href="#">SaaS</a>

										<a class="dropdown-item" href="#">Insurance</a>

										<a class="dropdown-item" href="#">Ecommerce</a>

										<a href="#" class="dropdown-item">Real Estate</a>

										<a href="#" class="dropdown-item">Logistics</a>

										<a href="#" class="dropdown-item">Guest Management</a>

										<a href="#" class="dropdown-item">Travel</a>
									</div><!-- /.dropdown__col -->
									
									<div class="dropdown__col">
										<h6>Teams</h6>

										<a href="#" class="dropdown-item">Customer Support</a>

										<a href="#" class="dropdown-item">Sales</a>

										<a href="#" class="dropdown-item">Client Servicing</a>

										<a href="#" class="dropdown-item">Operations</a>

										<a href="#" class="dropdown-item">Legal</a>

										<a href="#" class="dropdown-item">Human Resources</a>
									</div><!-- /.dropdown__col -->
								</div><!-- /.dropdown__col -->
					        </div>
						</li>

						<li class="nav-item">
							<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Product
							</a>

							<div class="dropdown-menu">
								<ul>
									<li>
										<a class="dropdown-item dropdown-toggle" href="#">Inboxes</a>

							          	<div class="dropdown__aside">
							          		<a href="#" class="dropdown-item">Gmail Team Inbox</a>

							          		<a href="#" class="dropdown-item">Microsoft365 Team Inbox</a>

							          		<a href="#" class="dropdown-item">Instagram Team Inbox</a>

							          		<a href="#" class="dropdown-item">Facebook Team Inbox</a>

							          		<a href="#" class="dropdown-item">Twitter Team Inbox</a>

							          		<a href="#" class="dropdown-item">SMS Team Inbox</a>

							          		<a href="#" class="dropdown-item">WhatsApp Team Inbox</a>

							          		<a href="#" class="dropdown-item">Live Chat Inbox</a>

							          		<a href="#" class="dropdown-item">Universal Team Inbox</a>
							          	</div>
									</li>

									<li>
										<a class="dropdown-item" href="#">CSAT</a>
									</li>

									<li>
										<a class="dropdown-item" href="#">Knowledge Base</a>
									</li>

									<li>
										<a class="dropdown-item" href="#">Forms</a>
									</li>

									<li>
										<a class="dropdown-item" href="#">Automation Workflows</a>
									</li>

									<li>
										<a class="dropdown-item" href="#">Analytics & Reports</a>
									</li>

									<li>
										<a class="dropdown-item dropdown-link" href="#">All Features</a>
									</li>
								</ul>

					        </div>
						</li>

						<li class="nav-item">
							<a class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Integrations
							</a>

							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">Gmail</a>

								<a class="dropdown-item" href="#">Justcall</a>

								<a class="dropdown-item" href="#">Hubspot</a>

								<a class="dropdown-item" href="#">Shopify</a>

								<a class="dropdown-item" href="#">Slack</a>

								<a class="dropdown-item" href="#">Zapier</a>

								<a class="dropdown-item" href="#">Stripe</a>

								<a class="dropdown-item" href="#">Dropbox</a>

								<a class="dropdown-item dropdown-link" href="#">View All Integrations</a>
					        </div>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="#">
					          Pricing
					        </a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="#">Demo</a>
						</li>
					</ul>
				</nav><!-- /.navbar -->

				<div class="header__actions">
					<button type="button" class="btn btn--secondary">Login</button>

					<button type="button" class="btn">Try For Free</button>
				</div><!-- /.header__actions -->
			</div><!-- /.header__aside -->

			<a href="#" class="burger-btn js-burger">
				<span></span>
				
				<span></span>

				<span></span>

			</a>
		</div><!-- /.container -->
	</div><!-- /.header__inner -->
</header><!-- /.header -->
